<h2>Edit palacios</h2>

<%= render "form.html", changeset: @changeset,
                        action: palacios_path(@conn, :update, @palacios) %>

<%= link "Back", to: palacios_path(@conn, :index) %>
